.container {
  max-width: 1296px;
  margin: 0 auto;
}
.d {
  &-f {
    display: flex;
  }
}
.jc {
  &sb {
    justify-content: space-between;
  }
  &c {
    justify-content: center;
  }
  &fe {
    justify-content: flex-end;
  }
}
.ai {
  &c {
    align-items: center;
  }
  &fs {
    align-items: flex-start;
  }
  &fe {
    align-items: flex-end;
  }
}
.as {
  &fe {
    align-self: flex-end;
  }
  &fs {
    align-self: flex-start;
  }
}
.fxd {
  &c {
    flex-direction: column;
  }
}
.wrap {
  flex-wrap: wrap;
}
.p {
  &-16 {
    padding: 16px;
  }
  &t-40 {
    padding-top: 40px;
  }
  &y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &y-72 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  &y-96 {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  &y-160 {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  &x-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.m {
  &r-4 {
    margin-right: 4px;
  }
  &r-16 {
    margin-right: 16px;
  }
  &r-24 {
    margin-right: 24px;
  }
  &t-4 {
    margin-top: 4px;
  }
  &t-24 {
    margin-top: 24px;
  }
  &t-32 {
    margin-top: 32px;
  }
  &t-36 {
    margin-top: 36px;
  }
}
.text {
  &-light-10 {
    color: $light-5;
  }
  &-dark {
    color: $dark;
  }
}
h1 {
  color: $primary;
  font-size: 128px;
  text-align: right;
}
.fs {
  &-4 {
    font-size: 64px;
  }
  &-2 {
    font-size: 24px;
  }
  &-1 {
    font-size: 20px;
  }
}
.border {
  border: 1px solid $light-10;
  &-radius {
    border-radius: 32px;
  }
}
.bg {
  &-light {
    background: $light;
  }
  &-dark {
    background: $dark;
  }
  &-gradient {
    background: linear-gradient(90deg, #050014, #01021e 89%);
  }
}
.shadow {
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.08);
}
.hover {
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $primary;
  }
  &-btn-light {
    transition: all 0.2s ease-in-out;
    border: 3px solid black;
    &:hover {
      border: 3px solid $primary;
    }
  }
  &-icon {
    transition: all 0.2s ease-in-out;
    &:hover {
      filter: drop-shadow(0px 0px 16px #9094ff);
    }
  }
}
